doctype html
html
  head
    title= title
    link(rel='stylesheet', href='public/css/style.css') 
  body
    header
      h1 My Express App
      nav
        ul
          li: a(href='/') Dashboard
    block content
    footer
      p © 2024 My Express App